%h1 New Location
.input-group
  = form_for :location, url: locations_path do |f|
    %p
    = f.label :name
    %br
    = f.text_field :name, { class: "form-control" }
    %p
    = f.submit class: "btn btn-primary text-uppercase btn-block", value: 'SAVE >'
%h3
  %a= link_to('< Back', new_checkin_path, class: 'btn btn-default btn-block navbar navbar-fixed-bottom')
